 <div class="bg-light d-flex align-items-center justify-content-center min-vh-100 py-4">

  <div class="card shadow-lg register-card my-4 w-100">
    
    <!-- Logo & Title -->
    <div class="text-center mb-3">
      <div class="logo-image mx-auto mb-2 logo-circle">
        <img src="assets/img/logo-removebg-preview.png" class="form-image" alt="image" />
      </div>
      <h1 class="fw-bold">Instructor Registration</h1>
    </div>

    <!-- Main form -->
    <form 
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="row g-3" 
    >

      <app-instructor-account-step
        *ngIf="currentStep === 1"
        [submitted]="submitted"
        (next)="onNextFromStep1()"
      ></app-instructor-account-step>

      <app-instructor-profile-step
        *ngIf="currentStep === 2"
        [submitted]="submitted"
        [loading]="loading"
        (back)="onBackToStep1()"
      ></app-instructor-profile-step>

    </form>

    <p class="text-center mt-3 mb-0 text-muted">
      Already have an instructor account?
      <a routerLink="/login" class="text-decoration-none accent-link">Login</a>
    </p>
  </div>
</div>


  <!-- Toast -->
  <div
    *ngIf="showToast"
    class="toast-container position-fixed bottom-0 end-0 p-3"
    style="z-index: 1080;"
  >
    <div
      class="toast show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      [ngClass]="toastType === 'success' ? 'bg-success text-white' : 'bg-danger text-white'">
      <div class="toast-body">{{ toastMessage }}</div>
    </div> 
  </div>

