<div id="jitsi-iframe"></div>

<!-- <div class="custom-controls">
  <div class="control-item" (click)="executeCommand('toggleAudio')" [title]="isAudioMuted ? 'Unmute' : 'Mute'">
    <i class="fas fa-2x" [ngClass]="isAudioMuted ? 'fa-microphone-slash red-color' : 'fa-microphone grey-color'"></i>
  </div>

  <div class="control-item" (click)="executeCommand('toggleVideo')"
    [title]="isVideoMuted ? 'Start Camera' : 'Stop Camera'">
    <i class="fas fa-2x" [ngClass]="isVideoMuted ? 'fa-video-slash red-color' : 'fa-video grey-color'"></i>
  </div>

  <div class="control-item" (click)="executeCommand('toggleShareScreen')" title="Share Screen">
    <i class="fas fa-desktop fa-2x grey-color"></i>
  </div>

  <div class="control-item" (click)="executeCommand('hangup')" title="Leave Meeting">
    <i class="fas fa-phone-slash fa-2x red-color"></i>
  </div>
</div> -->