.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 50;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  max-width: 520px;
}

.modal-content {
  background-color: #1a1f25;
  padding: 2.25rem 1.5rem;
  border-radius: 0.75rem;
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}


.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #ff4d4d;
}
