.participants-list { background: #19232d; color: #fff; padding: 1rem; width: 250px; height: 100%; }
ul { list-style: none; padding: 0; }
li { padding: 5px 0; border-bottom: 1px solid #333; }
button { margin-top: 1rem; }

.control-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(25, 35, 45, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
}

.control-btn:hover {
  background-color: rgba(76, 83, 91, 0.9);
}