<body class=" d-flex align-items-center justify-content-center min-vh-100 py-5">
  <div class="card shadow-lg p-5 register-card my-4">
    <!-- Logo & Title -->
    <div class="text-center mb-4">
      <div class="logo-image mx-auto mb-3 logo-circle">
        <img src="assets/img/logo-removebg-preview.png" alt="Logo" />
      </div>
      <h3 class="fw-bold">Create Your Account</h3>
      <p >Join our community and start learning today</p>
    </div>

    <!-- Registration Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3">
      <!-- FIRST NAME -->
      <div class="mb-3 col-md-6">
        <label>First Name</label>
        <input placeholder="firstName"
          type="text"
          class="form-control"
          formControlName="firstName"
          [class.is-invalid]="
            (f['firstName'].touched || f['firstName'].dirty || submitted) && f['firstName'].invalid
          "
        />

        <small
          class="text-danger"
          *ngIf="(f['firstName'].touched || submitted) && f['firstName'].errors"
        >
          First name is required
        </small>
      </div>

      <!-- LAST NAME -->
      <div class="mb-3 col-md-6">
        <label>Last Name</label>
        <input placeholder="lastName"
          type="text"
          class="form-control"
          formControlName="lastName"
          [class.is-invalid]="
            (f['lastName'].touched || f['lastName'].dirty || submitted) && f['lastName'].invalid
          "
        />
      </div>

      <!-- EMAIL -->
      <div class="mb-3 col-md-6">
        <label>Email</label>
        <input placeholder="email"
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="
            (f['email'].touched || f['email'].dirty || submitted) && f['email'].invalid
          "
        />

        <small class="text-danger" *ngIf="(f['email'].touched || submitted) && f['email'].errors">
          Valid email required
        </small>
      </div>

      <!-- PHONE -->
      <div class="mb-3 col-md-6">
        <label>Phone Number</label>
        <input placeholder="phoneNumber"
          type="tel"
          class="form-control"
          formControlName="phoneNumber"
          [class.is-invalid]="
            (f['phoneNumber'].touched || f['phoneNumber'].dirty || submitted) &&
            f['phoneNumber'].invalid
          "
        />

        <small
          class="text-danger"
          *ngIf="(f['phoneNumber'].touched || submitted) && f['phoneNumber'].errors?.['required']"
        >
          Phone number is required
        </small>

        <small
          class="text-danger"
          *ngIf="(f['phoneNumber'].touched || submitted) && f['phoneNumber'].errors?.['pattern']"
        >
          Enter a valid Egyptian phone number (e.g., 010xxxxxxxx)
        </small>
      </div>

      <!-- DATE OF BIRTH -->
      <div class="mb-3 col-md-6">
        <label>Date of Birth</label>
        <input placeholder="Date"
          type="date"
          class="form-control"
          formControlName="dateOfBirth"
          [class.is-invalid]="
            (f['dateOfBirth'].touched || f['dateOfBirth'].dirty || submitted) &&
            f['dateOfBirth'].invalid
          "
        />

        <small
          class="text-danger"
          *ngIf="
                 (f['dateOfBirth'].touched || submitted) 
                 && f['dateOfBirth'].errors?.['ageOutOfRange']
               "
        >
          Age must be between 20 and 80 years old
        </small>
      </div>

      <!-- ADDRESS -->
      <div class="mb-3 col-md-6">
        <label>Address</label>
        <input placeholder="Address"
          type="text"
          class="form-control"
          formControlName="address"
          [class.is-invalid]="
            (f['address'].touched || f['address'].dirty || submitted) && f['address'].invalid
          "
        />
      </div>

      <!-- CITY -->
      <div class="mb-3 col-md-6">
        <label>City</label>
        <input placeholder="City"
          type="text"
          class="form-control"
          formControlName="city"
          [class.is-invalid]="
            (f['city'].touched || f['city'].dirty || submitted) && f['city'].invalid
          "
        />
      </div>

      <!-- PASSWORD -->
      <div class="mb-3 col-md-6">
        <label>Password</label>
        <input placeholder="Password"
          type="password"
          class="form-control"
          formControlName="password"
          [class.is-invalid]="
            (f['password'].touched || f['password'].dirty || submitted) && f['password'].invalid
          "
        />

        <small
          class="text-danger"
          *ngIf="(f['password'].touched || submitted) && f['password'].errors"
        >
          Minimum 6 characters required
        </small>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="mb-3 col-md-6">
        <label>Confirm Password</label>
        <input placeholder="confirmPassword"
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          [class.is-invalid]="
                 (f['confirmPassword'].touched || f['confirmPassword'].dirty || submitted)
                 && (f['confirmPassword'].errors || registerForm.errors?.['passwordMismatch'])
               "
        />

        <small
          class="text-danger"
          *ngIf="registerForm.errors?.['passwordMismatch'] && (f['confirmPassword'].touched || submitted)"
        >
          Passwords do not match
        </small>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
          Register
        </button>
      </div>
    </form>

    <!-- LOGIN LINK -->
    <p class="text-center mt-4 mb-0 ">
      Already have an account?
      <a routerLink="/login" class="text-decoration-none accent-link">Login</a>
    </p>
  </div>
</body>
