body {
  font-family: var(--default-font);
  background-color: var(--light-background);
  margin: 0;
}

.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; /* المسافة بين الكارد والصورة */
  flex-wrap: wrap; /* متجاوب مع الشاشات الصغيرة */
  padding: 50px 20px;
}

.register-card {
  width: 100%;
  max-width: 450px; /* مستطيل وشكله كويس */
  border-radius: 15px;
  border: none;
  background-color: var(--surface-color);
  transition: all 0.3s;
  padding: 40px 30px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  order: 1;
}

.register-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}



 .logo-image {
    width: 60px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-weight: 700;
    font-size: 20px;
    /* box-shadow: 0 4px 10px color-mix(in srgb, var(--accent-color), transparent 70%); */

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }





.accent-link {
  color: var(--accent-color);
  font-weight: 600;
}

.accent-link:hover {
  color: color-mix(in srgb, var(--accent-color), black 10%);
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 992px) {
  .register-wrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
