<header class="modern-header">
  <div class="header-container">

    <!-- Logo -->
    <a routerLink="/" class="logo">
      <div class="logo-image logo-circle">
        <img src="assets/img/logo-removebg-preview.png" alt="Logo">
      </div>
      <span class="logo-text">Elearning</span>
    </a>

    <!-- Navigation -->
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
        <!-- <li><a href="about.html">About</a></li> -->
        <li><a routerLink="/Courses">Courses</a></li>
        <li><a routerLink="/instructors">Instructors</a></li>
        <!-- <li><a routerLink="/exam" routerLinkActive="active">Exam</a></li>
        <li><a routerLink="/meeting">Meeting</a></li>
        <li><a routerLink="/chatRome">ChatRome</a></li> -->

      </ul>
    </nav>

    <!-- Buttons -->
    <div class="header-actions">
      <a routerLink="/register" class="btn-signup">Sign up</a>
      <a routerLink="/login" class="btn-login">Login</a>

      <button class="theme-toggle">
        <i class="bi bi-sun-fill"></i>
      </button>

      <button class="language-selector">
        <i class="bi bi-globe"></i>
      </button>
    </div>

  </div>
</header>
