<section class="meeting-card">
  <article class="top-section">
    <img [src]="icon" alt="icon" width="28" height="28" />
    <div class="title-date">
      <h1>{{ title }}</h1>
      <p>{{ date }}</p>
    </div>
  </article>

  <article class="bottom-section">
    <div class="avatars">
      <ng-container *ngFor="let img of avatarImages; let i = index">
        <img
          [src]="img"
          alt="attendee"
          width="40"
          height="40"
          class="avatar"
          [ngStyle]="{ left: i * 28 + 'px', position: i > 0 ? 'absolute' : 'relative' }"
        />
      </ng-container>
      <div class="extra-count">+5</div>
    </div>

    <div *ngIf="!isPreviousMeeting" class="buttons">
      <button (click)="handleClick.emit()" class="btn-primary">
        <img *ngIf="buttonIcon1" [src]="buttonIcon1" alt="icon" width="20" height="20"/>
        &nbsp; {{ buttonText }}
      </button>

      <button (click)="copyLink()" class="btn-secondary">
        <img src="assets/icons/copy.svg" alt="copy" width="20" height="20"/>
        &nbsp; Copy Link
      </button>
    </div>
  </article>
</section>
