.meeting-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 258px;
  background-color: #1a1f25; /* dark-1 */
  border-radius: 14px;
  padding: 2rem 1.25rem;
  color: white;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title-date h1 {
  font-size: 2rem;
  font-weight: bold;
}

.title-date p {
  font-size: 1rem;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
}

.avatars {
  display: flex;
  position: relative;
}

.avatar {
  border-radius: 50%;
}

.extra-count {
  position: absolute;
  left: 136px;
  width: 40px;
  height: 40px;
  border: 5px solid #2e2e2e; /* dark-3 */
  background-color: #3a3a3a; /* dark-4 */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.btn-primary {
  background-color: #3b82f6; /* blue-1 */
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.btn-secondary {
  background-color: #2a2a2a; /* dark-4 */
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
