<div class="skeleton-table">
    <table class="table">
        <!-- Header -->
        <thead *ngIf="showHeader">
            <tr>
                <th *ngFor="let col of columnsArray">
                    <app-skeleton type="text" height="1rem" width="80%" [animation]="animation">
                    </app-skeleton>
                </th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody>
            <tr *ngFor="let row of rowsArray">
                <td *ngFor="let col of columnsArray">
                    <app-skeleton type="text" height="1rem" [animation]="animation">
                    </app-skeleton>
                </td>
            </tr>
        </tbody>
    </table>
</div>