<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-4 bg-white mt-5 mb-5">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
            	Member
            </div>
            
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li class="active bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>John Doe</strong>
                		</div>
                		<div class="last-message text-muted">Hello, Are you there?</div>
                		<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger">1</small>
                	</a>
                </li>
                          
            </ul>
		</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-8 bg-white mt-5 mb-5">
            <div class="chat-message">
                <ul class="chat">
					<li *ngFor="let msg of messages" [ngClass]="{'left clearfix': msg.sender==='bot','right clearfix': msg.sender==='user'}">
						<span class="chat-img" [ngClass]="{'pull-left': msg.sender==='bot', 'pull-right': msg.sender==='user'}">
						<img src="https://bootdey.com/img/Content/user_1.jpg" *ngIf="msg.sender==='user'">
						<img src="https://bootdey.com/img/Content/user_3.jpg" *ngIf="msg.sender==='bot'">
						</span>
						<div class="chat-body clearfix">
						<div class="header">
							<strong class="primary-font">{{msg.sender === 'user' ? 'You' : 'AI'}}</strong>
						</div>
						<p>{{ msg.text }}</p>
						</div>
					</li>
				</ul>
            </div>
            <div class="chat-box bg-white">
            	<div class="input-group">
            		<input class="form-control border no-shadow no-rounded" placeholder="Type your message here"
					[(ngModel)]="messageText">
            		<span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button"
						(click)="sendMessage()"
						>Send</button>
            		</span>
            	</div><!-- /input-group -->	
            </div>            
		</div>        
	</div>
</div>