<div class="instructor-profile" *ngIf="instructor">

  <img  alt="" [src]="instructor.avatarUrl" [alt]="instructor.name" class="avatar">
  <h1>{{ instructor.name }}</h1>
  <h3>{{ instructor.title }}</h3>

  <p *ngIf="instructor.verified" class="badge">✔ Verified Instructor</p>

  <p>Rating: {{ instructor.rating }}</p>
  <p>Reviews: {{ instructor.reviewsCount }}</p>
  <p>Students: {{ instructor.studentsTotal }}</p>

  <p>Credentials: {{ instructor.credentials.join(', ') }}</p>

  <div *ngIf="instructor.bio?.length">
    <h4>Bio:</h4>
    <ul>
      <li *ngFor="let line of instructor.bio">{{ line }}</li>
    </ul>
  </div>

  <div *ngIf="instructor.contact">
    <h4>Contact:</h4>
    <p *ngIf="instructor.contact.email">📧 {{ instructor.contact.email }}</p>
    <p *ngIf="instructor.contact.phone">📞 {{ instructor.contact.phone }}</p>
    <p *ngIf="instructor.contact.address">📍 {{ instructor.contact.address }}</p>
    <p *ngIf="instructor.contact.officeHours"><strong>Office Hours:</strong> {{ instructor.contact.officeHours }}</p>
  </div>

  <app-button variant="secondary" [routerLink]="['/Instructors']">Back to Instructors</app-button>

</div>

<div *ngIf="!instructor">
  <p>Instructor not found.</p>
</div>
