.setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  color: white;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join-btn {
  background-color: #16a34a; /* green-500 */
  color: white;
  padding: 0.625rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.mic-cam-toggle {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  gap: 1rem
}