<div class="bg-light d-flex align-items-center justify-content-center vh-100">
  <div class="card shadow-lg p-5 login-card">
    <div class="text-center mb-4">
      <div class="logo-image mx-auto mb-3 logo-circle">
        <img src="assets/img/logo-removebg-preview.png" alt="Logo" />
      </div>
      <h3 class="fw-bold">Welcome Back!</h3>
      <p class="text-muted">Login to access your courses</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="submitted && f['email'].invalid"
        />

        <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
          <span *ngIf="f['email'].errors['required']">Email is required</span>
          <span *ngIf="f['email'].errors['email']">Please enter a valid email</span>
        </div>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [class.is-invalid]="submitted && f['password'].invalid"
        />

        <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
          <span *ngIf="f['password'].errors['required']">Password is required</span>
          <span *ngIf="f['password'].errors['minlength']">Minimum 6 characters required</span>
        </div>
      </div>

      <button type="submit" class="btn  w-100" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        Login
      </button>
    </form>

    <p class="text-center mt-4 mb-0 text-muted">
      Don’t have an account?
      <a routerLink="/register" class="text-decoration-none accent-link">Sign up</a>
    </p>
  </div>
</div>
