<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card shadow-lg p-5 login-card">
    <div class="text-center mb-4">
      <div class="logo-image mx-auto mb-3 logo-circle">
        <img src="assets/img/logo-removebg-preview.png" alt="Logo" />
      </div>
      <h3 class="fw-bold">Welcome Back!</h3>
      <p>Login to access your courses</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- EMAIL -->
      <div class="mb-3">
        <label>Email</label>
        <input
          placeholder="Email"
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="
            (f['email'].touched || f['email'].dirty || submitted) && f['email'].invalid
          "
        />

        <div
          class="invalid-feedback"
          *ngIf="(f['email'].touched || f['email'].dirty || submitted) && f['email'].errors"
        >
          <span *ngIf="f['email'].errors['required']">Email is required</span>
          <span *ngIf="f['email'].errors['email']">Please enter a valid email</span>
        </div>
      </div>

      <!-- PASSWORD -->
      <!-- PASSWORD -->
      <div class="mb-3">
        <label>Password</label>

        <div class="input-group">
          <input
            placeholder="Enter password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="
              (f['password'].touched || f['password'].dirty || submitted) && f['password'].invalid
            "
          />

          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePassword()"
            tabindex="-1"
          >
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>

        <div
          class="invalid-feedback d-block"
          *ngIf="
            (f['password'].touched || f['password'].dirty || submitted) && f['password'].errors
          "
        >
          <span *ngIf="f['password'].errors['required']">Password is required</span>
          <span *ngIf="f['password'].errors['minlength']">Minimum 6 characters required</span>
        </div>
      </div>

      <button type="submit" class="btn w-100" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        Login
      </button>
    </form>

    <p class="text-center mt-4 mb-0">
      Don’t have an account?
      <a routerLink="/register" class="text-decoration-none accent-link">Sign up</a>
    </p>
  </div>
</div>
