body {
  font-family: var(--default-font);
  background-color: var(--light-background);
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  border: none;
  background-color: var(--surface-color);
  transition: all 0.3s;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.logo-image {
    width: 60px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-weight: 700;
    font-size: 20px;
    /* box-shadow: 0 4px 10px color-mix(in srgb, var(--accent-color), transparent 70%); */

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }





.accent-link {
  color: var(--accent-color);
  font-weight: 600;
  transition: all 0.3s;
}

.accent-link:hover {
  color: color-mix(in srgb, var(--accent-color), black 10%);
  text-decoration: underline;
}
