.meeting-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  min-height: 100vh;
  color: white;
  padding: 30px 25px;
}

.bg-hero {
  background-image: url('/assets/img/hero-background.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 303px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.75rem;
}

@media (max-width: 768px) {
  .bg-hero {
    height: auto;
    padding: 2rem;
  }
}

.glassmorphism {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  color: #addff5;
  border-radius: 12px;
  padding: 8px 12px;
  max-width: 273px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 6.5rem;
}

.hero-text h1 {
  font-size: 2.75rem;
  font-weight: 800;
  color: #ffffff;

}

.hero-text p {
  font-size: 1.10rem;
  font-weight: 500;
  color: #38bdf8;
}
section.flex {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  min-height: 100vh;
  color: white;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 4.5rem;
  }
  .hero-text p {
    font-size: 1.5rem;
  }
}
