<div class="container py-4">

  <!-- زرار الإضافة -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Courses</h3>
    <button
      class="btn btn-success"
      [routerLink]="['/courses/add']">
      + Add New Course
    </button>
  </div>  

  <!-- ===== كروت الكورسات ===== -->
  <div class="row">

    <div
      class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-4"
      *ngFor="let course of courses"
    >
      <div class="course-card">

        <div class="course-image">
          <img
          alt=""
            [src]="getCourseImage(course)"
            [alt]="course.crs_Name"
            class="img-fluid"
          />
          <div class="course-price">
            {{ course.price }} EGP
          </div>
        </div>

        <div class="course-content">
          <div class="course-meta">
            <span class="category">PROGRAMMING</span>
            <span class="level">ALL LEVELS</span>
          </div>

          <h3>{{ course.crs_Name }}</h3>
          <p>{{ course.crs_Description }}</p>

          <div class="instructor-info">
            <img
              [src]="getInstructorImage(course)"
              alt="Instructor"
              class="instructor-avatar"
            />
            <span class="instructor-name">
              {{ getInstructorName(course) }}
            </span>
          </div>
                
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center gap-2">
    <!-- Edit icon -->
              <button
                class="btn btn-link p-0"
                 [routerLink]="['/courses/edit', course.crs_Id]"
               title="Edit course"
                             >
        <i class="fa fa-edit"></i>
               </button>

    <button
      class="btn btn-link text-danger p-0"
      [routerLink]="['/Courses/delete', course.crs_Id]"
      title="Delete course"
    >
      <i class="fa fa-trash"></i>
    </button>
  </div>

  <a
    class="small text-decoration-underline ms-auto"
    [routerLink]="['/Courses', course.crs_Id, 'units']">
    Manage Units
  </a>
</div>

       
        </div>

      </div>
    </div>

  </div>
</div>
