.sidebar-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 264px;
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  background-color: #161b22; /* bg-dark-1 */
  color: white;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  text-decoration: none;
  color: white;
}

.link.active {
  background-color: #3b82f6; /* bg-blue-1 */
}

.label {
  font-size: 1.125rem;
  font-weight: 600;
}
