/* Card Styling */
.unit-card {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--surface-color);

  border: 1px solid var(--border-color);
}

.unit-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.btn-add {
  border-radius: 999px !important;
  padding: 7px 20px !important;
  font-size: 15px !important;
  transition: all 0.2s ease-in-out !important;
}

/* Image Section */
.unit-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

.unit-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.unit-card:hover .unit-image {
  transform: scale(1.05);
}

/* Unit Badge */
.unit-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #074226;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Card Title */
.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--heading-color);
}

/* Texts */
.card-text {
  font-size: 0.9rem;
  color: var(--text-muted);
}

/* Buttons */
.btn-sm {
  border-radius: 8px;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}

/* Icon Buttons */
.icon-btn-new {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--surface-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn-new:hover {
  transform: translateY(-1px);
  border-color: var(--accent-color);
}

.btn-outline-accent {
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-outline-accent:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

/* Responsive adjustments */
@media(max-width:768px) {
  .unit-image {
    height: 150px;
  }

  .card-title {
    font-size: 1rem;
  }

  .btn-sm {
    font-size: 0.75rem;
  }
}

.lesson-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}