<!-- STEP 2: PROFILE INFO -->
<div class="w-100 row g-3">
  <!-- PHOTO URL -->
  <div class="mb-3 col-md-6">
    <label>Profile Image URL</label>
    <input placeholder="Profile photo"
      type="url"
      class="form-control"
      formControlName="photoUrl"
    />
  </div>

  <!-- CERTIFICATE URL -->
  <div class="mb-3 col-md-6">
    <label>Certificate URL</label>
    <input placeholder="Certificate"
      type="url"
      class="form-control"
      formControlName="certificateUrl"
    />
  </div>

  <!-- CV URL -->
  <div class="mb-3 col-md-6">
    <label>CV URL</label>
    <input placeholder="CV"
      type="url"
      class="form-control"
      formControlName="cvUrl"
    />
  </div>

  <!-- SPECIALIZATION -->
  <div class="mb-3 col-md-6">
    <label>Specialization</label>
    <input placeholder="Specialization"
      type="text"
      class="form-control"
      formControlName="specialization"
      [class.is-invalid]="submitted && f['specialization'].invalid"
    />
    <small class="text-danger" *ngIf="submitted && f['specialization'].invalid">
      Specialization is required
    </small>
  </div>

  <!-- UNIVERSITY -->
  <div class="mb-3 col-md-6">
    <label>University Name</label>
    <input placeholder="University"
      type="text"
      class="form-control"
      formControlName="universityName"
      [class.is-invalid]="submitted && f['universityName'].invalid"
    />
    <small class="text-danger" *ngIf="submitted && f['universityName'].invalid">
      University name is required
    </small>
  </div>

  <!-- ABOUT -->
  <div class="mb-3 col-12">
    <label>About You</label>
    <textarea placeholder="About"
      rows="4"
      class="form-control"
      formControlName="about"
      [class.is-invalid]="submitted && f['about'].invalid"
    ></textarea>
    <small class="text-danger" *ngIf="submitted && f['about'].invalid">
      Please write at least 20 characters about yourself
    </small>
  </div>

  <!-- BUTTONS -->
  <div class="col-12 d-flex justify-content-between">
    <button type="button" class="btn btn-outline-secondary" (click)="onBackClick()">
      Back
    </button>

    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
      Submit
    </button>
  </div>
</div>
