/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import "@fortawesome/fontawesome-free/css/all.min.css";





/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Ubuntu",  sans-serif;
}

/* Global Colors*/
:root { 
  --background-color: #ffffff;
  --default-color: #394450;
  --heading-color: #223a58;
  --accent-color: #136ad5;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors*/
:root {
  --nav-color: rgba(255, 255, 255, 0.7);
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #394450;
  --nav-dropdown-hover-color: #136ad5;
}

/* Color Presets*/
.light-background {
  --background-color: #f5faff;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

.accent-background {
  --background-color: #136ad5;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #acd0fc;
  --surface-color: #4188de;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--accent-color);
  display: inline-block;
}

.section-title h2:before {
  margin: 0 15px 10px 0;
}

.section-title h2:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 20px;
  }

  .section-title h2:before,
  .section-title h2:after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--accent-color);
    display: inline-block;
  }
}