.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 520px;
  background-color: #1a1f25; /* dark-1 */
  padding: 1.5rem 1.5rem 2.25rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.btn-primary {
  background-color: #3b82f6; /* blue-1 */
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
