<h1 class="page-title">Instructors</h1>

<div class="grid">
  @for (ins of instructors; track ins.id) {
    <app-card
      [img]="ins.avatarUrl"
      [title]="ins.name"
      [subtitle]="ins.title"
      [clickable]="true">

      @if (ins.verified) {
        <p class="badge">✔ Verified</p>
      }

      <p class="meta">
        ⭐ {{ ins.rating }} ({{ ins.reviewsCount | number }}) • {{ ins.studentsTotal | number }} students
      </p>

      <button [routerLink]="['/instructors', ins.id]" >view profile</button>

    </app-card>
  }
</div>
