<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="mb-0">Students Management</h5>

  </div>
  <div class="card-body">
    <div class="mb-3">
      <app-search-bar placeholder="Search students..." [alignRight]="false"
        (searchTextChange)="onSearchTextChange($event)">
      </app-search-bar>
    </div>

    <div class="table-responsive">
      <table class="table align-middle">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Enrollment #</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of filteredStudents">
            <td>{{ row.id }}</td>
            <td>{{ row.firstName }} {{ row.lastName }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.phoneNumber }}</td>
            <td>{{ studentEnrollCounts[row.id] || 0 }}</td>
            <td class="text-end">
              <div class="d-flex gap-2 justify-content-end">
                <button class="icon-btn-new btn btn-sm btn-light" (click)="goToStudentProfile(row.id)"
                  title="View Profile">
                  <i class="bi bi-person text-secondary"></i>
                </button>
                <ng-container *ngIf="isAdmin">
                  <button class="icon-btn-new btn btn-sm btn-light" (click)="delete.emit(row)" title="Delete">
                    <i class="bi bi-trash text-danger"></i>
                  </button>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>